body {
	background-color: #BADAEF;
}

.page-header {
	margin-left: -30px;
}

.page-header2 {
	margin-left: -15px;
}

li{
	display: block;
	margin-top: -5px;
	margin-bottom: 10px;
	margin-left: 20px;
	max-width:400px;
}

p {
	max-width: 400px;
}
.assignment {
	/*color: #F20CC8;*/
	color: white;
	margin-top:30px;
	margin-bottom:30px;
	background-color: #21E0DC;
	font-size: 14pt; 
	max-width:420px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.date{
	font-size:18pt;
	margin-left: 20px;
}

.dayTheme {
	margin-left: 20px;
/*	color: black; 
	font-family:"Minion Pro", serif; 
	font-style: normal; 
	font-weight: normal; 
	text-decoration: none; */
	font-size: 18pt; 
	max-width:400px;
}

/*#green {
	background-color: #CDE472;
}*/

/*.myPanelBody {
	font-size: 16px;
}*/

.linkz{
	margin-top:15px;
	margin-left: 20px;
}

.readings{
	/*margin-top:15px;*/
	margin-left: 20px;
}

.navbar {
	background-color: #220CC4;
	color: black; 

}

.navbar-brand {
	background-color: #0F0840;
	color: black; 
	
}

.navLink {
	color:white;
	margin-right: 40px;
}

.panel {
	background-color: #62B9F4;
}

.panel-body{
	font-size: 12px;	
}

/*panel-default {
	background-color: #628EE9;
}*/

/*.panel-heading-bar{
	background-color: #628EE9;
	padding:0 0 0 0;
}*/
.subTitle {
	max-width:400px;
	margin-left: 20px;
}

.names {
	max-width:380px;
	margin-left: 20px;
	font-size: 10px;
}

#crit {
	background-color: #E80C89;
	margin-bottom: 30px;
	max-width:420px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;

}

.critText {
		font-size: 60px;
}